{{!-- animal search --}}

<link rel="stylesheet" href="/assets/css/customer_results.css">
<script src="/assets/js/customer_results.js"></script>

<!-- Navigation -->

<link rel="stylesheet" href="/static/css/searchPage.css">
    <div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <h1>FUR-EVER HOMES</h1>
                </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                        <li id="index">
                            <a href="/index"><span class="glyphicon glyphicon-home"></span> Home</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

<div class="container">

<!-- Modal -->
    <div class="modal fade" id="resultsModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title" id="resultsModalLabel"><strong>Meet {{this.petname}}!</strong></h2>
                </div>
                            <div class="modal-body">
                                <img class="petPicture thumbnail myBtn" width="300px" height="300px" src="{{this.petPicture}}" alt="">
                                    <p>{{this.description}}</p>
                                    <p>Foster parents name: {{this.foster-homesName}}</p>
                                    <p>Foster parents email address: {{this.foster-homesEmail}}</p>
                                    <p>Foster parents phone number: {{this.foster-homesContact}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
            </div>
        </div>
    </div>

    <div class="row main">
        <div class="main-login main-center text-center">

            <h2><strong>Pet Search</strong></h2>
            <form class="" method="POST" action="/search/{{data.username}}">

                <div class="form-group">
            
                    <div class="cols-sm-10">
                        <label id="search-pet">Select species:</label>
                        <select class="form-control" name="animalType" placeholder="Species">
                            {{#if data.animal}}
                            <option>{{data.animal}}</option>
                            {{/if}}
                            <option> </option>
                            <option>Cat</option>
                            <option>Dog</option>
                            <option>Horse</option>
                            <option>Bird</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                  
                    <div class="cols-sm-10">
                        <label id="search-pet">Age:</label>
                        <select class="form-control" name="animalAge">
                            {{#if data.age}}
                            <option>{{data.age}}</option>
                            {{/if}}
                            <option>  </option>
                            <option>Birth to 18 months</option>
                            <option>18 months to 6 years</option>
                            <option>6 years plus</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                   
                    <div class="cols-sm-10">
                        <label id="search-pet">Gender:</label>
                        <select class="form-control" name="animalGender">
                            {{#if data.gender}}
                            <option>{{data.gender}}</option>
                            {{/if}}
                            <option>  </option>
                            <option>Female</option>
                            <option>Male</option>
                        </select>
                    </div>
                </div>

                <div class="cols-sm-10">
                        <label id="search-pet">Temperament:</label>
                        <select class="form-control" name="animalTemp">
                            {{#if data.temp}}
                            <option>{{data.temp}}</option>
                            {{/if}}
                            <option>  </option>
                            <option>Social - good with children and other animals</option>
                            <option>High energy</option>
                            <option>Low energy</option>
                            <option>Anxious</option>
                        </select>
                        <br> <br> <br>
                    </div>
                </div>

                <br>
                <br>

                <button type="submit" id="button" class=" btn btn-primary btn-lg btn-block login-button "><strong>Search For Pet</strong></button>

            </form>
        </div>
    </div>
</div>




